version: "3.8"

services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: taskdb
    ports:
      - "3306:3306"

  api:
    build: ./api-node
    ports:
      - "5000:5000"
    depends_on:
      - mysql

  frontend:
    build: ./frontend-nextjs
    ports:
      - "3000:3000"
